<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}"> subscribe </a> via <a href="https://harisont.github.io/2022/03/05/rss-en.html">RSS</a> or email me at <a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
        </p>
      </div>
      <div class="footer-col">
        <p><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a></p>
        <p>noticed a <a href="https://dictionary.cambridge.org/dictionary/italian-english/strafalcione">
            <it>strafalcione</it>
          </a> in something I've written? Feel free to open a <a
            href="https://github.com/harisont/harisont.github.io">pull request</a>!</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>